automation/n8n-main-workflow.json
{
  "name": "Super Automation: Main Writer & Router",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "RISET DATA (OPTIONAL)\nJika Anda membutuhkan data terkini atau fakta eksternal spesifik, Anda dapat memanggil tool \"Google Search Riset\" (maksimal 1 kali agar cepat). Jika tidak diperlukan, langsung tulis artikel berdasarkan basis data internal Anda secara kreatif dan profesional. Jangan mengarang statistik palsu.\n\nPERAN\nKamu adalah SEO content strategist dan copywriter profesional untuk brand \"3our\". Tugasmu menulis artikel blog yang SEO-friendly, terasa ditulis manusia, dan enak dibaca — bukan terdengar seperti AI.\n\nTARGET PEMBACA\nPelaku bisnis, marketer, dan pemilik brand di Indonesia yang ingin tumbuh lewat digital marketing. Mereka sibuk, suka konten ringkas dan langsung to-the-point yang bisa dibaca ~5 menit.\n\nTONE & GAYA\n- Santai tapi profesional. Sapa pembaca dengan \"kamu\", dan posisikan brand sebagai \"kita/tim 3our\".\n- Bahasa Indonesia natural sehari-hari. Biarkan istilah marketing umum tetap dalam Bahasa Inggris (engagement, conversion, customer journey, awareness, funnel, hard selling, dll) — jangan diterjemahkan paksa.\n- Variasikan panjang kalimat. Sesekali pakai kalimat pendek dan tegas untuk penekanan. Hindari paragraf panjang yang monoton (maksimal 2-4 kalimat per paragraf).\n- Gunakan konektor percakapan yang luwes seperti \"Jadi,\", \"Nah,\", \"Artinya,\", \"Masalahnya,\" — tapi jangan berlebihan.\n- Boleh pakai analogi, contoh konkret, dan poin bernomor/bullet bila memang membantu keterbacaan.\n\nSTRUKTUR ARTIKEL\n- Paragraf pembuka: pancing dengan menohok asumsi umum atau menyebut masalah nyata yang dialami pembaca, lalu posisikan topik sebagai solusi. Jangan basa-basi.\n- Isi: bagi menjadi beberapa sub-bagian dengan heading (H2/H3) yang jelas dan logis, mengikuti search intent keyword.\n- Penutup: rangkum kunci utama dalam 2-4 poin, akhiri dengan satu kalimat punchline yang menempel, lalu soft CTA yang relevan ke layanan 3our (jangan hard selling).\n\nATURAN SEO\n- Tempatkan keyword utama secara natural di judul, paragraf pembuka, dan beberapa heading — JANGAN keyword stuffing.\n- Gunakan kata turunan/sinonim/LSI agar terasa alami.\n- Pastikan paragraf pembuka langsung menjawab maksud pencarian pembaca.\n- Sarankan internal linking bila relevan.\n\nHAL YANG WAJIB DIHINDARI (agar tidak terdengar seperti AI)\n- Frasa klise: \"di era digital yang serba cepat ini\", \"tak dapat dipungkiri\", \"mari kita selami/bahas lebih dalam\", \"dalam dunia yang terus berkembang\".\n- Transisi kaku berlebihan: \"selain itu\", \"lebih lanjut\", \"dengan demikian\", \"oleh karena itu\" yang dipakai bertubi-tubi.\n- Kalimat pembuka generik berupa definisi (\"X adalah ...\") — mulai dengan hook, bukan kamus.\n- Kesimpulan yang mengulang isi secara kaku. Penutup harus terasa seperti obrolan, bukan ringkasan robotik.\n- Nada terlalu formal, bertele-tele, atau over-promising.\n\nPANJANG\nTargetkan artikel ringkas dan padat (sekitar 600-900 kata), bisa dibaca dalam ~5 menit. Kualitas dan keterbacaan di atas kuantitas.\n\nFORMAT OUTPUT (WAJIB DIPATUHI)\nKembalikan HANYA satu objek JSON valid yang sesuai skema persis ini, tanpa teks lain:\n{\"title\": string, \"slug\": string, \"excerpt\": string, \"body\": string}\nAturan keras:\n- JANGAN bungkus dengan code fence (tanpa ```json atau ```), tanpa markdown, tanpa komentar, tanpa kalimat pembuka/penutup.\n- Output harus berupa JSON tunggal yang bisa langsung di-parse JSON.parse(). Tidak boleh kosong, tidak boleh array kosong, tidak boleh null.\n- Semua keempat field (title, slug, excerpt, body) WAJIB terisi dengan string non-kosong.\n- slug: huruf kecil, kata dipisah tanda hubung, tanpa spasi/simbol.\n- body: berisi isi lengkap artikel (boleh markdown di dalam nilai string body), di-escape dengan benar agar JSON tetap valid.\n- Jika ragu, tetap kembalikan JSON valid sesuai skema; jangan pernah menjelaskan atau meminta klarifikasi.\n\n=========================================\n\nPROMPT UTAMA:\n=Tulis satu artikel blog SEO lengkap dengan struktur SILO untuk keyword utama berikut: {{  $json.data.keyword }}.\n\nManfaatkan data riset ini sebagai konteks (jangan ditulis ulang mentah di artikel): search volume {{  $json.data.searchVolume }}, keyword difficulty {{  $json.data.difficulty }}, traffic potential {{  $json.data.trafficPotential }}.\n\nPastikan artikel mengikuti seluruh aturan PERAN, TONE, STRUKTUR, dan SEO yang sudah ditetapkan. Sertakan judul yang menarik, paragraf pembuka ber-hook, heading yang logis, dan penutup dengan soft CTA ke layanan 3our.\n\nFORMAT OUTPUT (WAJIB):\nKembalikan hasil dalam bentuk JSON dengan tepat 4 field berikut:\n- \"title\": judul artikel yang menarik (tanpa tanda markdown).\n- \"slug\": versi slug dari judul (huruf kecil, dipisah tanda hubung).\n- \"excerpt\": ringkasan singkat 1-2 kalimat.\n- \"body\": isi lengkap artikel dalam format markdown (gunakan heading ##, paragraf, dan list bila perlu).\nJangan tulis judul di dalam body. Jangan tambahkan teks apa pun di luar JSON.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        512,
        528
      ],
      "id": "59e3645b-cb3d-4f41-8132-a74fb2891442",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json?engine=google_trends",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.body?.keyword || $json.body?.query || $json.keyword || $json.query }}"
            },
            {
              "name": "geo",
              "value": "={{ $json.body?.Geo || $json.Geo || 'ID' }}"
            },
            {
              "name": "ln",
              "value": "={{ $json.body?.Ln || $json.Ln || 'id' }}"
            },
            {
              "name": "date",
              "value": "={{ $now.minus({days: 7}).format('yyyy-MM-dd') }} {{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "data_type",
              "value": "RELATED_QUERIES"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        144
      ],
      "id": "b4afe255-36a9-4806-9a24-1fac4a0c6fd1",
      "name": "Riset Google Trends",
      "credentials": {
        "httpQueryAuth": {
          "id": "uWPCUkzKY25iNKuY",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "related_queries.rising",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        832,
        144
      ],
      "id": "1cdde7dc-48c6-4e02-b86d-d20babcb6ef0",
      "name": "Rising Topic"
    },
    {
      "parameters": {
        "url": "https://ahrefs-keyword-research.p.rapidapi.com/keyword-metrics?",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "ahrefs-keyword-research.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "bcf9bfca3cmsh9bd7c8d4ddaee19p1bde3fjsna78c77394971"
            }
          ]
        },
        "options": {
          "redirect": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        128
      ],
      "id": "7e78e1a0-af78-4332-a429-cfa574064aac",
      "name": "Riset SVolume",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xQUbAhd82f94HQYh",
          "name": "Rapidapi"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0272b36e-30d7-4f6f-8a59-720dddc1c685",
              "leftValue": "={{ $json.data.globalSearchVolume }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1a96249e-1433-48c2-b47c-b795d4e022a9",
              "leftValue": "={{ $json.data.difficulty }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        128
      ],
      "id": "997441b6-732b-4838-a025-5c1a2c39e7ad",
      "name": "If Volume Validation"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        752
      ],
      "id": "b013dfbf-c66e-4d18-9586-bf8096d01b8d",
      "name": "Create Article",
      "credentials": {
        "googlePalmApi": {
          "id": "kdz6GGbuqBy4p3Pt",
          "name": "Google Gemini(PaLM) Api Veri"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Cari informasi faktual terkini dari Google tentang sebuah topik/keyword. Gunakan tool ini untuk mengumpulkan fakta, data, statistik, fitur produk, dan referensi nyata sebelum menulis artikel, agar tulisan berdasarkan data riset asli dan tidak mengarang.",
        "url": "https://serpapi.com/search.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Kata kunci atau pertanyaan pencarian Google untuk mengumpulkan fakta/data tentang topik artikel. Biasanya berupa keyword utama artikel.`, 'string') }}"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "hl",
              "value": "en"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true,
        "dataField": "organic_results"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        656,
        752
      ],
      "id": "f4d8cdc7-0850-4bba-944e-41eac37c4651",
      "name": "Google Search Riset",
      "credentials": {
        "httpQueryAuth": {
          "id": "uWPCUkzKY25iNKuY",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3735779-dd7f-4e44-a1f5-25bbc74054e2",
              "leftValue": "={{ (() => {\n  const q = String($json.query || '').toLowerCase();\n  let seed = [];\n  try {\n    const raw = String($('Webhook').item.json.body?.keyword || $('Webhook').item.json.keyword || '').toLowerCase().trim();\n    if (raw) seed.push(raw);\n  } catch(e) {\n    try {\n      seed = $('List Focus Keyword').all().map(i => String(i.json.keyword || '').toLowerCase().trim()).filter(Boolean);\n    } catch(err) {\n      seed = [];\n    }\n  }\n  const stopWords = new Set(['di', 'ke', 'dari', 'yang', 'dan', 'untuk', 'dengan', 'ada', 'adalah', 'itu', 'ini', 'makanan', 'kuliner', 'minuman', 'resep', 'cara', 'tips', 'info']);\n  const terms = [];\n  seed.forEach(phrase => {\n    terms.push(phrase);\n    phrase.split(/\\s+/).forEach(word => {\n      const clean = word.replace(/[^a-z0-9]/g, '');\n      if (clean.length > 2 && !stopWords.has(clean)) {\n        terms.push(clean);\n      }\n    });\n  });\n  const uniqueTerms = [...new Set(terms)].filter(Boolean);\n  const esc = s => s.replace(/[.*+?^$\\{\\}()|[\\]\\\\]/g, '\\\\$&');\n  return uniqueTerms.some(t => {\n    if (t.includes(' ')) {\n      return q.includes(t);\n    } else {\n      return new RegExp('\\\\b' + esc(t) + '\\\\b', 'i').test(q);\n    }\n  });\n})() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        144
      ],
      "id": "50bd4a29-fe17-40a7-840d-34559079f207",
      "name": "Keyword Match?"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "=data.globalSearchVolume",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        144,
        528
      ],
      "id": "2b495f2e-f958-463f-8d26-a179cbd796c1",
      "name": "Sort"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        352,
        528
      ],
      "id": "48d4e0d9-4548-4d47-ba66-c3a8a37c32e6",
      "name": "Limit"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supermat-trigger",
        "responseMode": "lastNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "webhook-trigger",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract input JSON (which is the output from AI Agent / Basic LLM Chain)\nconst aiInput = $json;\n\n// Get Client Info from Webhook safely without relying on item pairing\nlet clientInfo = {};\ntry {\n  const webhookData = $('Webhook').first().json;\n  clientInfo = webhookData.body || webhookData;\n} catch (err) {\n  clientInfo = aiInput.body || aiInput;\n}\n\n// Safe parse JSON from AI response\nfunction safeParseJson(str) {\n  if (!str) return null;\n  if (typeof str === 'object') return str;\n  try {\n    const clean = str.replace(/```json/gi,\"\").replace(/```/g,\"\").trim();\n    const start = clean.indexOf('{');\n    const end = clean.lastIndexOf('}');\n    if (start === -1 || end === -1) {\n      return JSON.parse(clean);\n    }\n    return JSON.parse(clean.slice(start, end + 1));\n  } catch (e) {\n    try {\n      return JSON.parse(str);\n    } catch (err2) {\n      return null;\n    }\n  }\n}\n\nconst text = aiInput.text || aiInput.output || '';\nconst parsed = safeParseJson(text) || safeParseJson(aiInput);\n\nconst kw = clientInfo.keyword || clientInfo.query || \"Keyword Utama\";\n\n// Get search metrics safely without relying on item pairing\nlet searchVolume = 0;\nlet difficulty = 0;\ntry {\n  const svNode = $('Riset SVolume').first().json;\n  searchVolume = svNode.data?.globalSearchVolume || 0;\n  difficulty = svNode.data?.difficulty || 0;\n} catch (e) {\n  // Riset SVolume was not executed or failed\n}\n\nreturn [{\n  json: {\n    clientName: clientInfo.Client_Name || \"Supermat Client\",\n    projectId: clientInfo.projectId || clientInfo.sanityProjectId || \"mwwvwgiw\",\n    studioUrl: clientInfo.studioUrl || \"\",\n    telegramChatId: clientInfo.Telegram_Chat_ID || \"\",\n    cmsType: (clientInfo.CMS_Type || \"sanity\").toLowerCase().trim(),\n    article: {\n      title: parsed?.title || \"Draft Article\",\n      slug: parsed?.slug || \"draft-article\",\n      excerpt: parsed?.excerpt || \"\",\n      bodyMarkdown: parsed?.body || \"\",\n      keywords: [kw],\n      primaryKeyword: kw,\n      searchVolume: searchVolume,\n      difficulty: difficulty\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        528
      ],
      "id": "unified-payload-generator",
      "name": "Unified Post Payload Generator"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.cmsType }}",
        "rules": {
          "rules": [
            {
              "value2": "sanity",
              "output": 0
            },
            {
              "value2": "wordpress",
              "output": 1
            },
            {
              "value2": "wix",
              "output": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        950,
        528
      ],
      "id": "cms-router",
      "name": "CMS Router"
    },
    {
      "parameters": {
        "workflowId": "sanity-adapter"
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1150,
        400
      ],
      "id": "exec-sanity-adapter",
      "name": "Adapter: Sanity Publisher"
    },
    {
      "parameters": {
        "workflowId": "wordpress-adapter"
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1150,
        528
      ],
      "id": "exec-wordpress-adapter",
      "name": "Adapter: WordPress Publisher"
    },
    {
      "parameters": {
        "workflowId": "wix-adapter"
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1150,
        650
      ],
      "id": "exec-wix-adapter",
      "name": "Adapter: Wix Publisher"
    },
    {
      "parameters": {
        "workflowId": "telegram-notifier"
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1400,
        528
      ],
      "id": "exec-telegram-notifier",
      "name": "Execute Telegram Notifier"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supermat-publish",
        "responseMode": "lastNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        750,
        700
      ],
      "id": "publish-webhook-trigger",
      "name": "Publish Webhook"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "data.keyword",
              "value": "={{ $json.body?.keyword || $json.keyword }}"
            }
          ],
          "number": [
            {
              "name": "data.globalSearchVolume",
              "value": 0
            },
            {
              "name": "data.difficulty",
              "value": 0
            },
            {
              "name": "data.trafficPotential",
              "value": 0
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        320,
        200
      ],
      "id": "prep-fallback",
      "name": "Prep Fallback"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        420,
        340
      ],
      "id": "resolve-target",
      "name": "Resolve Target"
    }
  ],
  "pinData": {},
  "connections": {
    "Publish Webhook": {
      "main": [
        [
          {
            "node": "CMS Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Unified Post Payload Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Riset Google Trends": {
      "main": [
        [
          {
            "node": "Rising Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rising Topic": {
      "main": [
        [
          {
            "node": "Keyword Match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Riset SVolume": {
      "main": [
        [
          {
            "node": "If Volume Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Volume Validation": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Create Article": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Match?": {
      "main": [
        [
          {
            "node": "Riset SVolume",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Resolve Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Riset Google Trends",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prep Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unified Post Payload Generator": {
      "main": [
        [
          {
            "node": "CMS Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CMS Router": {
      "main": [
        [
          {
            "node": "Adapter: Sanity Publisher",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adapter: WordPress Publisher",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adapter: Wix Publisher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapter: Sanity Publisher": {
      "main": [
        [
          {
            "node": "Execute Telegram Notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapter: WordPress Publisher": {
      "main": [
        [
          {
            "node": "Execute Telegram Notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapter: Wix Publisher": {
      "main": [
        [
          {
            "node": "Execute Telegram Notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fallback": {
      "main": [
        [
          {
            "node": "Resolve Target",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Resolve Target": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc860c31-4973-493a-85b2-fcdad8e94610",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b28f851de9172bac92a701ac54bd1ae2e8717eb34f542e6ff87ca809ae544e5f"
  },
  "id": "k7yaVHeCMgjWpWSn",
  "tags": [
    {
      "updatedAt": "2026-06-13T08:42:34.193Z",
      "createdAt": "2026-06-13T08:42:34.193Z",
      "id": "F7mm9ooc0AtajESu",
      "name": "project"
    }
  ]
}